<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hiber1</property>
        <property name="hibernate.connection.username">user1</property>
        <property name="hibernate.connection.password">pass</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>


        <!-- set up c3p0 for use -->
        <property name="c3p0.max_size">10</property>
        <!--  Echo all executed SQL to stdout  -->
        <property name="show_sql">true</property>
        <!--  Drop and re-create the database schema on startup  -->
        <property name="hbm2ddl.auto">create</property>

        <!--<mapping class="chapter06.ourexamples.Employee"/>-->

        <!--<mapping class="chapter06.ourexamples.idembedable.GlobalStudentGroup2"/>-->
        <!--<mapping class="chapter06.ourexamples.embedableid.GlobalStudentGroup"/>-->
        <mapping class="chapter06.ourexamples.idclass.GlobalStudentGroupWithIdClass"/>

        <!--<mapping class="chapter06.primarykey.after.Book"/>-->
        <!--<mapping class="chapter06.compoundpk.CPKBook"/>-->
        <!--<mapping class="chapter06.compoundpk.EmbeddedPKBook"/>-->
        <!--<mapping class="chapter06.compoundpk.IdClassBook"/>-->
        <!--<mapping class="chapter06.twotables.Customer"/>-->

        <!--<mapping class="chapter06.mappedsuperclass.ComputerBook"/>-->

        <!--<mapping class="chapter06.naturalid.Employee"/>-->
        <!--<mapping class="chapter06.naturalid.SimpleNaturalIdEmployee"/>-->
    </session-factory>
</hibernate-configuration>