.input-icon ~ .form-control {
	padding-right: 35px; // that text is not put on the icon
}

.input-icon {
	position: absolute; // that change position icon
    right: 15px; // incon to right
    top: 8px; // that center icon on vertical
    z-index: 4; 
    color: buttonface;
}
	
.modal-header-bg, .modal-header-bg .close{
	color: #fff;
}

textarea.form-control {
	min-height: 38px; // that textarea not minimaze 
}